{% extends 'base.html' %}
{% block title %}Discover Creators{% endblock %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>🔍 Найди своего автора</h2>
    <hr>

    <!-- Search Bar -->
    <form method="GET" action="{% url 'client:discover_creators' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" value="{{ search_query }}" class="form-control" placeholder="Поиск авторов...">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>

    {% if search_query %}
    <h3>Найдено по "{{ search_query }}"</h3>
    <div class="row">
        {% for creator in search_results %}
        <div class="col-md-4 mb-4">
            {% include 'creator/creator_card.html' %}
        </div>
        {% endfor %}
        {% if not search_results %}
        <p>Ничего не найдено.</p>
        {% endif %}
    </div>
    <hr>
    {% endif %}

    <h3>🔥 Лучшие авторы</h3>
    <div class="row">
        {% for creator in top_creators %}
        <div class="col-md-4 mb-4">
            {% include 'creator/creator_card.html' %}
        </div>
        {% endfor %}
    </div>

    <hr>

    <h3>🌟 Новый лица</h3>
    <div class="row">
        {% for creator in new_faces %}
        <div class="col-md-4 mb-4">
            {% include 'creator/creator_card.html' %}
        </div>
        {% endfor %}
    </div>

    <hr>

    <h3>💪 Самые активные авторы</h3>
    <div class="row">
        {% for creator in most_active_creators %}
        <div class="col-md-4 mb-4">
            {% include 'creator/creator_card.html' %}
        </div>
        {% endfor %}
    </div>

    <hr>

    <h3> Все авторы</h3>
    <div class="row">
        {% for creator in all_creators %}
        <div class="col-md-4 mb-4">
            {% include 'creator/creator_card.html' %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}