{% extends 'base.html' %}
{% block title %}Subscribe to {{ creator.username }}{% endblock %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>🤩 Подписаться на @{{ creator.username }}</h2>

    <hr>
    <div class="row">
        <p>
            Подпишись на @{{ creator.username }}, чтобы получить доступ к эксклюзивному контенту и поддержать работу.
            Выберите уровень подписки
            которая вам больше подходит.
        </p>
        <p>
            <strong>Подписка на создателя - это ежемесячное обязательство. Вы можете отменить подписку в любое
                время.</strong>
        </p>
        <h3>
            Доступные подписки:
        </h3>
        {% for tier in tiers %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4>{{ tier.name }}</h4>
                </div>
                <div class="card-body">
                    <p>{{ tier.description }}</p>
                    <h5>{{ tier.points_price }} 🪙</h5>
                    <p>Разрешение на отправку сообщений: <strong>{{ tier.message_permission|yesno:"✔️,❌" }}</strong></p>
                    <a href="{% url 'client:subscribe-to-tier' creator.username tier.id %}"
                        class="btn btn-primary">Подписаться</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>У этого автора пока нет доступных подписок.</p>
        {% endfor %}
        <p>
            <a href="{% url 'profile' creator.username %}" class="btn btn-secondary">Вернуться в профиль</a>
        </p>
    </div>
</div>
{% endblock %}