{% extends 'base.html' %}
{% block title %}My Subscriptions{% endblock %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>📅 Активные подписки</h2>
    <hr>
    <p>
        Здесь вы можете просмотреть все свои активные подписки. Вы можете продлить их еще на 30 дней или отменить в
        любое время. Помните, что вы можете подписаться только на один уровень для каждого создателя. Если вы хотите
        изменить свой уровень, вам необходимо отменить текущую подписку и подписаться на новую.
    </p>
    <div class="row">
        {% for subscription in subscriptions %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ subscription.tier.name }}</h5>
                    <p class="card-text">{{ subscription.tier.description }}</p>
                    <p class="card-text">
                        <strong>Автор: </strong>
                        <a href="{% url 'profile' subscription.tier.user.username %}">
                            @{{subscription.tier.user.username }}
                        </a>
                    </p>
                    <p class="card-text"><strong>Цена: </strong>{{ subscription.tier.points_price }}💰 в месяц</p>
                    <p class="card-text">
                        <strong>Разрешение на отправку сообщений:</strong>
                        {{subscription.tiermessage_permission|yesno:"✔️,❌" }}
                    </p>
                    <p class="card-text"><strong>Истекает:</strong> {{ subscription.end_date|date:"F j, Y" }}</p>
                    <a href="{% url 'client:extend_subscription' subscription.id %}" class="btn btn-primary">Продлить
                        еще на 30 дней</a>
                    <a href="{% url 'client:cancel_subscription' subscription.id %}" class="btn btn-danger">Отменить
                        подписку</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>
            <strong>У вас нет активных подписок</strong>
        </p>
        <p>
            <a href="{% url 'client:discover_creators' %}" class="btn btn-outline-primary">Откройте для себя
                создателей</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}