{% extends 'base.html' %}
{% block title %}My Subscriptions{% endblock %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>📅 Your active subscriptions</h2>
    <hr>
    <p>
        Here you can see all your active subscriptions. You can extend them for another 30 days or cancel them at any
        time. Remember that you can only subscribe to one tier per creator. If you want to change your tier, you need to cancel your current subscription and subscribe to a new one.
    </p>
    <div class="row">
        {% for subscription in subscriptions %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ subscription.tier.name }}</h5>
                    <p class="card-text">{{ subscription.tier.description }}</p>
                    <p class="card-text"><strong>Creator: </strong><a href="{% url 'profile' subscription.tier.user.username %}">@{{ subscription.tier.user.username }}</a> </p>
                    <p class="card-text"><strong>Price: </strong>{{ subscription.tier.points_price }}🪙 a month</p>
                    <p class="card-text"><strong>Message Permission:</strong> {{ subscription.tier.message_permission|yesno:"✔️,❌" }}</p>
                    <p class="card-text"><strong>Expires on:</strong> {{ subscription.end_date|date:"F j, Y" }}</p>
                    <a href="{% url 'client:extend_subscription' subscription.id %}" class="btn btn-primary">Extend another 30 days</a>
                    <a href="{% url 'client:cancel_subscription' subscription.id %}" class="btn btn-danger">Unsubscribe</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>
            <strong>You have no active subscriptions.</strong>
        </p>
        <p>
            <a href="{% url 'client:discover_creators' %}" class="btn btn-outline-primary">Discover creators</a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
