{% extends 'base.html' %}
{% block title %}Password change{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>🔏 Измените пароль</h2>
    <hr>
    <div class="row">
        <p>
            Here you can change your password. Please enter your current password and then your new password.
        </p>
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" action="{% url 'change-password' %}" autocomplete="off">
                {% csrf_token %}
                {{ password_form|crispy }}
                <button type="submit" class="btn btn-primary">Save your password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}