{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <div class="py-5 text-center  rounded-3">
        <img class="mt-4 mb-3" width="100" height="100" src="{% static 'img/logot.png' %}" alt="OnlyVans">
        <h1 class="text-body-emphasis">Добро пожаловать на Content<strong>Pro</strong>!</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Подпишитесь, чтобы поддержать своих любимых авторов и получить эксклюзивный доступ к их контенту. Или, если
            вы являетесь
            создателем контента начните зарабатывать деньги на подписках уже сегодня!
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="{% url 'register' %}" class="d-inline-flex align-items-center btn btn-primary  btn-lg px-4"
                type="button">
                Зарегистрироваться
            </a>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-secondary px-4" type="button">
                У меня уже есть аккаунт
            </a>
        </div>
    </div>
</div>

{% endblock %}