{% extends 'base.html' %}
{% block title %}Profile update{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>🔄 Улучши свой профиль</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {% if user.is_content_creator %}
            <form method="post" action="{% url 'create_stripe_account' %}" id="Stripe">
                {% csrf_token %}
            </form>
            {% endif %}
            <form method="post" enctype="multipart/form-data" action="{% url 'update-profile' %}" autocomplete="off">
                {% csrf_token %}
                {{ user_form|crispy }}
                {% if user.is_content_creator %}
                <p><button type="submit" form="Stripe" class="btn btn-success mt-3">Создайте свой ID</button></p>
                {% endif %}
                {{ profile_form|crispy }}
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                <p></p><a href="{% url 'change-password' %}">Измените свой пароль здесь</a></p>
            </form>
            {% if not user_form.instance.stripe_account_id %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}