{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Withdraw Points{% endblock %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>💸 Вывести монеты</h2>
    <hr>
    {% if wallet.balance > 0 %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div id="price-display-withdraw" class="mt-3">
            <strong>Общая сумма к выводу: $<span id="amount-to-pay-withdraw">0.00</span></strong>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Вывод средств</button>
    </form>
    {% else %}
    <div>
        У вас нет монет для вывода. <a href="{% url 'home' %}">Вернуться на главную</a>.
    </div>
    {% endif %}
</div>
<script>
    const dollarsPerPoint = {{ dollars_per_point }};
</script>
{% endblock %}