{% extends 'base.html' %}{% block title %}Create{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>🆕 Новая публикация</h2>
    <hr>
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ post_form|crispy }}
            <p><small class="form-text text-muted">Вы можете управлять своими подписками <a
                        href="{% url 'creator:tiers' %}">здесь.</a> </small></p>
            <div class="form-group mb-3">
                <label for="id_files" class="form-label">Загрузить файл:</label>
                <input type="file" name="files" id="id_files" multiple class="form-control"
                    accept="image/jpeg, image/png, video/mp4, video/avi">
            </div>
            <p><small class="form-text text-muted">Вы можете загружать несколько файлов одновременно.</small></p>
            <br>
            <button class="btn btn-primary" type="submit">Создать</button>
        </form>
    </div>
</div>

{% endblock %}