{% extends 'base.html' %}
{% block title %}Tiers{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container main py-5">
    {% include 'messages.html' %}
    <h2>🏅 Ваши подписки
        <a class="btn btn-primary" href="{% url 'creator:create-tier' %}">Добавить новую подписку</a>
    </h2>
    <hr>
    <p>
        Здесь вы можете управлять своими подписками. Подписки - это способ предложить различные уровни доступа к вашему
        контенту. Вы можете установить цену и разрешения для каждого уровня. Затем ваши подписчики могут выбрать, на
        какой уровень они хотят подписаться. Одновременно у вас может быть не более 12 уровней. Здесь вы также можете
        увидеть, кто подписан на каждый уровень.
    </p>
    {% for tier in tiers %}
    <div class="card mb-3">
        {% if tier.id %}
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>
                <h4>{{ tier.name }}</h4>&nbsp;<strong>{{ tier.points_price }}🪙<small>в месяц</small></strong>
            </span>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                data-tier-id="{{ tier.id }}" data-tier-name="{{ tier.name }}"
                data-url-template="{% url 'creator:delete-tier' 0 %}">
                Удалить
            </button>
        </div>
        <div class="card-body">
            <p>{{ tier.description }}</p>
            <p>Доступность сообщений: <strong>{{ tier.message_permission|yesno:"✔️,❌" }}</strong></p>
            <h5>Подписчики ({{ tier.subscriber_count }}):</h5>
            {% for subscriber in tier.subscribers %}

            <span class="badge text-bg-primary"><a class="text-secondary link-underline link-underline-opacity-0"
                    href="{% url 'profile' subscriber.user.username %}">@{{ subscriber.user.username }} </a></span>

            {% empty %}
            <span>Еще нет подписчиков.</span>
            {% endfor %}
        </div>
        {% else %}
        <div class="card-header">
            <span>
                <h4>Неправильная подписка</h4>
            </span>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <p>У вас нет определенных уровней.</p>
    {% endfor %}
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтвердить удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены что хотите удалить подписку <strong id="tierName"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form method="post" id="deleteForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}